@font-face {
    font-family: "Recipekorea";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MapoPeacefull";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
    font-family: "Nanum Gothic", sans-serif;
}

@font-face {
    font-family: "CookieRun-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #fc81d9;
    /* -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75); */
    z-index: 92;
    position: fixed;
}

.logo-img {
    width: 120px;
    padding: 15px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 93;
    transition: transform 0.4s ease-in-out;
}

.logo-img:hover {
    transform: scale(1.1) rotate(-10deg);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    background-color: #fc81d9;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 60px 80px;
    background-color: #fc81d9;
    text-decoration: none;
    font-size: 21px;
    font-family: "MapoPeacefull";
    color: #ffffff;
}

nav ul li a:hover {
    color: #ffffff91;
}

nav ul li ul {
    z-index: -1;
    display: block;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.4s ease;
    position: absolute;
    margin-top: 3px;
}

header:hover ul li ul {
    opacity: 1;
    transition-duration: 0.75s;
    transform: scale(1);
}

nav ul li ul li a {
    background-color: #d169b400;
    padding: 20px 70px;
    text-align: center;
}

.back-drop {
    position: fixed;
    background-color: #d169b3;
    width: 100%;
    height: 500px;
    /* display: none; */
    z-index: -2;
    transform: translateY(-100%);
    transition: all 0.4s ease;
}

header:hover .back-drop {
    transform: scale(1);
}

/* .bun {
    display: none;
    z-index: 9999;
} */

/* .hamburger {
    color: white;
    font-size: 45px;
    position: fixed;
    right: 52.5px;
    top: 52.5px;
    visibility: hidden;
    z-index: 998;
}

.toggler {
    z-index: 9999;
    position: absolute;
    right: 52.5px;
    top: 52.5px;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 45px;
    opacity: 0;
} */

.menu-wrap {
    position: fixed;
    top: 28px;
    right: 28px;
    z-index: 98;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 99;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0;
    transform: scale(1.5);
}

.menu-wrap .hamburger {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 98;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.5);
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.toggler:checked ~ .menu {
    visibility: visible;
}

.toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 92;
}

.menu > div {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.comming {
    text-align: center;
}

.comming img {
    width: 320px;
}

main {
    padding-top: 150px;
    position: relative;
    min-height: 70vh;
}

.para {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 550px;
}

.para p,
.para h1 {
    color: white;
}

.para a {
    text-decoration: none;
    color: white;
}

.para a:hover {
    text-decoration: underline;
}

.h-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 266px;
    left: 0;
    right: 0;
    text-align: center;
}

.h-title h2 {
    font-family: "CookieRun-Regular", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.sub-nav {
    padding: 30px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sub-nav ul {
    width: 40%;
    margin: 0 auto;
    display: flex;
}

.sub-nav ul li {
    width: 20%;
    text-align: center;
    list-style: none;
}

.sub-nav ul li a {
    text-decoration: none;
    padding: 30px 15%;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
}

.sub-nav ul li a:hover {
    color: rgb(189, 30, 109);
}

.h-back {
    width: 100%;
    height: 300px;
}

.h-back img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sub-nav ul .this-page a {
    color: rgb(189, 30, 109);
}

footer {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    float: left;
    position: relative;
}

.foot-list {
    border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
}

.foot-list ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.foot-list ul li {
    width: 20%;
    text-align: center;
    list-style: none;
    padding: 30px 0;
}

.clickable:hover {
    text-decoration: underline;
}

.foot-info {
    text-align: center;
    padding-bottom: 40px;
}

.foot-info p {
    margin: 8px 0;
    opacity: 0.4;
}

footer ul li a,
footer p,
footer p a {
    text-decoration: none;
    color: white;
}

.foot-social {
    position: absolute;
    right: 45px;
    bottom: 45px;
    z-index: 1;
}

.foot-social li {
    display: inline-block;
    margin: 8px;
}

@media only screen and (max-width: 1220px) {
    nav ul li a {
        padding: 60px 50px;
        font-size: 18px;
    }
    nav ul li ul li a {
        padding: 10px 41px;
    }
    .sub-nav ul {
        width: 60%;
    }
}

@media only screen and (max-width: 844px) {
    nav ul {
        display: none;
    }
    header:hover ul li ul,
    header:hover .back-drop {
        display: none;
    }
    .foot-list ul {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .foot-list ul li {
        width: 100%;
        padding: 10px 0;
        border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
    }
    .foot-social {
        position: relative;
        right: 0;
        bottom: 0;
    }
    .menu-wrap {
        display: inline-block;
    }
    .foot-social-i {
        transform: scale(1.6);
        padding: 10px;
    }
    .sub-nav ul {
        width: 90%;
    }
}

@media only screen and (max-width: 844px) {
    .sub-nav ul li a {
        padding: 30px 12%;
    }
}
