@font-face {
    font-family: "Recipekorea";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MapoPeacefull";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    width: 100%;
    background-color: #fc81d9;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
    z-index: 998;
    display: none;
}

.logo-img {
    width: 120px;
    padding: 15px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    transition: transform 0.4s ease-in-out;
}

.logo-img:hover {
    transform: scale(1.1) rotate(-10deg);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    padding: 60px 80px;
    background-color: #fc81d9;
    text-decoration: none;
    font-size: 21px;
    font-family: "MapoPeacefull";
    color: #ffffff;
}

nav ul li a:hover {
    color: #f9adcb;
}

main {
    background-color: #fd82d5;
    z-index: -9999;
    height: 100%;
}

.comming {
    text-align: center;
}

.comming img {
    width: 320px;
}

.para {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 510px;
}

.para p,
.para h1,
.para a {
    color: white;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
    font-family: sans-serif;
}

.logo-max {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 94px;
}

.logo-max img {
    width: 250px;
    transition: transform 0.4s ease-in-out;
}

.logo-max img:hover {
    transform: scale(1.1) rotate(-10deg);
}

.egg {
    text-decoration: none;
    color: #fd82d5;
}

.downloadBtn {
    display: inline-block;
    padding: 9px 14px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    margin-left: 10px;
  }
  
  .downloadBtn:hover {background-color: #3e8e41}
  
  .downloadBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }